body {
	background-color: #f3f3f3;
	font-family: Arial;
}

.wrapper {
	width: 600px;
	margin: auto;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 20px;
}

.image {
	text-align: center;
}

.image img {
	border: 1px solid gray;
}


.info {
	width: 450px;
	margin: auto; 
}

.contacts {
	margin-left: 40px;
}

ul, p, a{
	font-size: 13px;
}